<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.edu.tarc.assignment">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StartupScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"
            android:label="Login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".StartShopping.AddItem"
            android:label="Your Cart"
            android:alwaysRetainTaskState="true"
            android:parentActivityName=".MainPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:label="Registration"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainPage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StartShopping.CodeScanner"
            android:label="Scanner"
            android:parentActivityName=".StartShopping.AddItem"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StartShopping.ItemDetail"
            android:label="Item Detail"
            android:parentActivityName=".StartShopping.AddItem"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StartShopping.CheckoutCart"
            android:label="Checkout"
            android:parentActivityName=".StartShopping.AddItem"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StartShopping.SelectShop"
            android:label="Select Shop"
            android:parentActivityName=".MainPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Transfer.TransferActivity"
            android:label="Credit Transfer"
            android:parentActivityName=".MainPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Transfer.TransferConfirmation"
            android:parentActivityName=".Transfer.TransferActivity"
            android:label="Confirmation"
            android:screenOrientation="portrait" />

        <activity android:name=".TopUp.TopUpMain"
            android:label="Top Up"
            android:parentActivityName=".MainPage"
            android:screenOrientation="portrait"/>
        <activity android:name=".TopUp.BankCardActivity"
            android:label="Bank Detail"
            android:parentActivityName=".TopUp.TopUpMain"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TopUp.TQActivity"
            android:label="Top Up Summary"
            android:parentActivityName=".TopUp.TopUpMain"
            android:screenOrientation="portrait"/>
        <activity android:name=".TopUp.TACActivity"
            android:label="TAC"
            android:parentActivityName=".TopUp.TopUpMain"
            android:screenOrientation="portrait"/>
        <activity android:name=".TopUp.TACDisplayActivity"
            android:parentActivityName=".TopUp.TopUpMain"
            android:screenOrientation="portrait"/>



    </application>

</manifest>